body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: #222;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #635bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
